<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Springboot Rest Client</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{/css/mainCSS.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<div class="Msg">[[${Msg}]]</div>
<div class="Err">[[${Err}]]</div>
<form class="formbox400" th:action="@{/Utilisateur}" th:name="form" th:object="${form}" th:method="post">

    <h1>Modification du citoyen</h1><br/>
    <div id="introbox">
        <input type="hidden" th:field="*{id}" />

        <fieldset><legend>Identifiant</legend>
            <span th:text="#{username}" >Nom d'utilisateur(def)</span>:<input type="text" th:field="*{utilisateur.username}" /><br/>
            <span th:text="#{password}" >Mot de passe(def)</span>:<input th:type="password" th:field="*{utilisateur.password}" /><br/>
        </fieldset>
        <br/><br/>

        <fieldset th:replace="~{/fragments/citoyen :: CitoyenAdrPost('Citoyen',citoyen,adresse)}"></fieldset>

        <br/><br/>
        <input th:type="submit" />
    </div>
</form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>