<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
	<div th:replace="~{/fragments/header :: head}"></div>
	<div th:replace="~{/fragments/header :: nav(select=${56})}"></div>

	<h1 th:text="#{accueil.bienvenue}"></h1><br/>
	<div id="introbox">
		<div class="introtxt" th:text="#{accueil.artiste}"></div>
		<div class="introtxt" th:text="#{accueil.commanditaire}"></div>
		<div class="introtxt" th:text="#{accueil.gestionnaire}"></div>
	</div>
	<div th:replace="~{/fragments/header :: multiscript}"></div>

</body>
</html>