<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
	<div th:replace="~{/fragments/header :: head}"></div>
    <div th:replace="~{/fragments/header :: nav(select=${462})}"></div>

	<br/><br/><br/>
	<div id="choixbox">
		<div class="choixtxt"><a th:href="@{/Prestation}" th:text="#{artiste.gerepresta}"></a></div>
		<div class="choixtxt"><a th:href="@{/Formulaire/creer/visa}" th:text="#{artiste.demandevisa}"></a></div>
		<div class="choixtxt"><a th:href="@{/Formulaire/creer/carte}" th:text="#{artiste.demandecarte}"></a></div>
	</div>
	<div th:replace="~{/fragments/header :: multiscript}"></div>
</body>
</html>