<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
	<div th:replace="~{/fragments/header :: head}"></div>
    <div th:replace="~{/fragments/header :: nav(select=${462})}"></div>

	<br/><br/><br/>
	<div id="choixbox">
		<div class="choixtxt"><a th:href="@{/Prestations}">Gérer mes prestations</a></div>
		<div class="choixtxt"><a th:href="@{/Formulaire/creer/visa}">Demander un visa artiste</a></div>
		<div class="choixtxt"><a th:href="@{/Formulaire/creer/carte}">Demander une carte artiste</a></div>
	</div>
</body>
</html>