<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<title>Springboot Rest Client</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="favicon.ico" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}" rel="stylesheet" />
</head>

   <body>
	   <header>
		   <div id="topsection">
			   <div class="tps"><img src="img/logoPortail.png" alt="Portail des artistes" width="500"/></div>
			   <div class="tps"><img src="img/spfblabla.png" alt="SPF Blabla" width="220"/></div>
		   </div>

	   </header>

	   <nav>
		   <div id="navsection">
			   <div class="element"><a class="whitea" href="home.html">Home</a></div>
			   <div class="element"><a class="whitea" href="">Log in</a></div>
			   <div class="element"><a class="whitea" href="accueil.html">FR</a></div>
		   </div>
	   </nav>


		<section>
			<h1>
			Welcome to the SPF Blabla Artists Portal
			<br/><br/>
			being manufactured
			<br/>
			 </h1>
			<a class="formbox400" href="javascript:history.go(-1)">Backwards</a>		</section>		
</div></body>
</html>