<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Springboot Rest Client</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}" rel="stylesheet" />
</head>
<body>
    <form th:action="@{/inscript}" th:name="usrForm" th:object="${usrForm}" th:method="put">

        Login:<input type="text" th:field="*{username}" /><br/>
        Password:<input th:type="password" th:field="*{password}" /><br/>
<fieldset>
<legend>Citoyen</legend>
    Nom:<input th:type="text" th:field="*{citoyen.nom}" /><br/>
    Prénom:<input th:type="text" th:field="*{citoyen.prenom}" /><br/>
    Date de naissance:<input th:type="text" th:field="*{citoyen.dateNaissance}" /><br/>
    Tel:<input th:type="text" th:field="*{citoyen.tel}" /><br/>
    Gsm:<input th:type="text" th:field="*{citoyen.gsm}" /><br/>
    Email:<input th:type="text" th:field="*{citoyen.mail}" /><br/>
    No Reg Nat:<input th:type="text" th:field="*{citoyen.nrn}" /><br/>
    Nationnalité:<input th:type="text" th:field="*{citoyen.nation}" /><br/>
    <fieldset>
        <legend>Résidence</legend>
        Rue:<input th:type="text" th:field="*{citoyen.resideAdr.rue}" /><br/>
        Num:<input th:type="text" th:field="*{citoyen.resideAdr.numero}" /><br/>
        Boite:<input th:type="text" th:field="*{citoyen.resideAdr.boite}" /><br/>
        Ville:<input th:type="text" th:field="*{citoyen.resideAdr.ville}" /><br/>
    </fieldset>
</fieldset>
        <input th:type="submit" />
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>