<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>

    <div th:replace="~{/fragments/header :: head}"></div>
    <div th:replace="~{/fragments/header :: nav(select=${9})}"></div>

    <div class="Msg">[[${Msg}]]</div>
    <div class="Err">[[${Err}]]</div>
    <form class="formbox600" th:action="@{/login}" th:name="form" th:method="post">
        <br>
            <legend th:text="#{askConnection}"></legend>
            <label th:text="#{username}"></label>
            <input th:type="text" th:name="username" />
            <label th:text="#{password}"></label>
            <input th:type="password" th:name="password" />
            <a class="bluea" th:href="@{/ChangePassword}" th:text="#{oubli}"></a></br></br>
            <input th:type="submit" th:value="#{connecter}" /></br>
            <legend th:text="#{pasdecompte}"></legend>
            <p class="customButton"><a class="whitea" th:href="@{/inscript}"  th:text="#{creercompte}"></a></p>
        </fieldset>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <div th:replace="~{/fragments/header :: multiscript}"></div>


</body>


</html>