<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="activiteGet(fonction,act)">
    <legend>[[${fonction}]]</legend>
    <span th:text="#{nom}"></span> : [[${act.nomActivite}]]<br/>
    Desription : [[${act.description}]]<br/>
</fieldset>

<fieldset th:fragment="activiteModif(fonction,act)">
    <legend>[[${fonction}]]</legend>
    <input type="hidden" th:field="*{act.id}" />
    <span th:text="#{nom}"></span> : <input type="text" th:field="*{act.nomActivite}" /><br/>
    Descrption : <textarea th:type="text" th:field="*{act.description}" ></textarea><br/>
</fieldset>

<fieldset th:fragment="activiteFormSecteur(activitesId,listSect)">
    <legend th:text="#{secteur}"></legend>
    <fieldset th:each="sec,statSec : ${listSect}" th:object="${sec}">
        <legend th:text="*{nomSecteur}">Secteur</legend>
        <ul th:each="act : *{activites}"  th:object="${act}">
            <li>
                <input type="checkbox" th:field="${form.activitesId}" th:value="*{id}" />
                <span th:text="*{nomActivite}" th:alt="*{description}" ></span>
            </li>
        </ul>
        <div th:replace="~{/fragments/activites :: formArray('sect',${form.actToAddBySect},${sec.id})}"></div>
    </fieldset>
</fieldset>

<fieldset th:fragment="activiteFormBySecteur2(form,listSect)">

    <table>
        <tr>
            <td>
                <select>
                    <option th:each="secteur : ${listSect}"
                            th:value="${secteur.Id}"
                            th:utext="${secteur.NomSecteur}">
                    </option>
                </select>
            </td>

            <!--<td>-->
                <!--<select>-->
                    <!--<option th:each="act : *{activites}"-->
                            <!--th:value="${id}"-->
                            <!--th:utext="${nomActivite}">-->
                    <!--</option>-->
                <!--</select>-->
            <!--</td>-->
        </tr>
    </table>

    <!--<ul th:each="act : *{activites}"  th:object="${act}">-->
    <!--<li>-->
    <!--<span th:text="*{nomActivite}" th:alt="*{description}" ></span><button type="submit" th:name="'removeAct'" th:value="*{id}">Supprimer</button>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<li>-->
    <!--<button type="submit" th:name="'NewAct'" th:value="*{id}">Nouvelle activité</button>-->
    <!--</li>-->

</fieldset>

<fieldset th:fragment="activiteFormBySecteur(activitesId,listSect)">
    <legend th:text="#{secteur}"></legend>
    <fieldset th:each="sec,statSec : ${listSect}" th:object="${sec}">
        <legend th:text="*{nomSecteur}">Secteur</legend>
        <ul th:each="act : *{activites}"  th:object="${act}">
            <li>
                <span th:text="*{nomActivite}" th:alt="*{description}" ></span><button type="submit" th:name="'removeAct'" th:value="*{id}">Supprimer</button>
            </li>
        </ul>
    </fieldset>
</fieldset>


<div th:fragment="formArray(name,actToAdd,sectId)">
    <button type="submit" th:name="'addRow'" th:value="${sectId}">Ajouter</button>
    <ul th:each="item,rowStat : ${actToAdd}" th:object="${item}">
        <li>
            <input th:field="*{secteurId}" />
            <span th:text="#{activite}"></span> : <input th:field="*{nomActivite}" /><br/>
            <input th:field="*{description}" /><br/>
            <!-- <input th:name="'secteurId'" th:value="${sectId}" th:id="${name}+'Sect'+${rowStat.index+1}" />
            <input type="text" th:name="nom" th:id="${name}+'Nom'+${rowStat.index+1}" th:value="${item.nom}" />
            Description:<textarea th:name="description'" th:id="${name}+'Desc'+${rowStat.index+1}" th:value="${item.description}" />
            -->
            <button type="submit" th:name="'removeRow'" th:value="${rowStat.index}">Supprimer</button>
        </li>
    </ul>
</div>


<fieldset th:fragment="activiteDocBySecteur(activitesId,activitesDocId,listSect)">
    <legend th:text="#{secteur}"></legend>
    <fieldset th:each="sec : ${listSect}" th:object="${sec}">
        <legend th:text="*{nomSecteur}">Secteur</legend>
        <ul th:each="act : *{activites}"  th:object="${act}">
            <li th:if="${#arrays.contains(form.activitesDocId, ''+act.id)}"  >
                <input type="checkbox" th:field="${form.activitesId}" th:value="*{id}" />
                <span th:text="*{nomActivite}" th:alt="*{description}" ></span>
            </li>
        </ul>
    </fieldset>
</fieldset>

<fieldset th:fragment="activiteShowBySecteur(activitesId,listSect)">
    <legend th:text="#{secteur}"></legend>
    <fieldset th:each="sec : ${listSect}" th:object="${sec}">
        <legend th:text="*{nomSecteur}">Secteur</legend>
        <ul th:each="act : *{activites}" th:object="${act}">
            <li>
                <span th:text="*{nomActivite}" th:alt="*{description}"></span>
            </li>
        </ul>
    </fieldset>
</fieldset>

</body>

</html>