<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="AdresseGet(fonction,adresse)">
    <legend th:text="${fonction}"></legend>
    <span th:text="#{maison.rue}"></span> : <span th:text="${adresse.rue}"></span><br/>
    <span th:text="#{num}"></span> : <span th:text="${num}"></span><br/>
    <span th:text="#{maison.boite}"></span> : <span th:text="${adresse.boite}"></span><br/>
    <span th:text="#{maison.ville}"></span> : <span th:text="${adresse.ville}"></span><br/>
</fieldset>

<fieldset th:fragment="AdressePost(fonction,adresse)">
    <legend th:text="${fonction}"></legend>
    <input type="hidden" th:field="*{adresse.id}" />
    <label th:text="#{maison.rue}"></label>
    <input th:type="text" th:field="*{adresse.rue}" />
    <label th:text="#{num}"></label>
    <input th:type="text" th:field="*{adresse.numero}" />
    <label th:text="#{maison.boite}"></label>
    <input th:type="text" th:field="*{adresse.boite}" />
    <label th:text="#{maison.ville}"></label>
    <input th:type="text" th:field="*{adresse.ville}" />
</fieldset>

<fieldset th:fragment="AdressePut(fonction,adresse)">
    <legend th:text="${fonction}"></legend>
    <label th:text="#{maison.rue}"></label>
    <input th:type="text" th:field="*{adresse.rue}" />
    <label th:text="#{num}"></label>
    <input th:type="text" th:field="*{adresse.numero}" />
    <label th:text="#{maison.boite}"></label>
    <input th:type="text" th:field="*{adresse.boite}" />
    <label th:text="#{maison.ville}"></label>
    <input th:type="text" th:field="*{adresse.ville}" />
</fieldset>

</body>

</html>