<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="AdresseGet(fonction,adresse)">
    <legend th:text="${fonction}">Résidence</legend>
    Rue:<span th:text="*{adresse.rue}"></span><br/>
    Num:<span th:text="*{adresse.numero}"></span><br/>
    Boite:<span th:text="*{adresse.boite}"></span><br/>
    Ville:<span th:text="*{adresse.ville}"></span><br/>
</fieldset>

<fieldset th:fragment="AdressePost(fonction,adresse)">
<!--    <legend th:text="${fonction}">Résidence</legend>-->
    <input type="hidden" th:field="*{adresse.id}" />
    Rue:<input th:type="text" th:field="*{adresse.rue}" />
    Num:<input th:type="text" th:field="*{adresse.numero}" />
    Boite:<input th:type="text" th:field="*{adresse.boite}" />
    Ville:<input th:type="text" th:field="*{adresse.ville}" />
</fieldset>

</body>

</html>