<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="CitoyenGet(fonction,citoyen)">
    <legend>[[${fonction}]]</legend>
    <span th:text="#{nom}"></span> : [[${citoyen.nom}]]<br/>
    <span th:text="#{prenom}"> : [[${citoyen.prenom}]]<br/>
    <span th:text="#{dn}"></span> : [[${citoyen.dateNaissance}]]<br/>
    <span th:text="#{tel}"></span> : [[${citoyen.tel}]]<br/>
    <span th:text="#{gsm}"></span> : [[${citoyen.gsm}]]<br/>
    <span th:text="#{email}"></span> : [[${citoyen.mail}]]<br/>
    <span th:text="#{regnat}"></span> : [[${citoyen.nrn}]]<br/>
    <span th:text="#{nat}"></span> : [[${citoyen.nation}]]<br/>
</fieldset>

<fieldset th:fragment="CitoyenAdrGet(fonction,citoyen,adresse)">
    <legend>[[${fonction}]]</legend>
    <span th:text="#{nom}"></span> : [[${citoyen.nom}]]<br/>
    <span th:text="#{prenom}"></span> : [[${citoyen.prenom}]]<br/>
    <span th:text="#{dn}"></span> : [[${citoyen.dateNaissance}]]<br/>
    <span th:text="#{tel}"></span> : [[${citoyen.tel}]]<br/>
    <span th:text="#{gsm}"></span> : [[${citoyen.gsm}]]<br/>
    <span th:text="#{email}"></span> : [[${citoyen.mail}]]<br/>
    <span th:text="#{regnat}"></span> : [[${citoyen.nrn}]]<br/>
    <span th:text="#{nat}"></span> : [[${citoyen.nation}]]<br/><br/>

    <fieldset th:replace="~{/fragments/adresse :: AdresseGet('Résidence',${adresse}) }"></fieldset>
</fieldset>

<fieldset th:fragment="CitoyenSummaryGet(fonction,citoyen)">
    <legend>[[${fonction}]]</legend>
    <span th:text="#{nom}" ></span> : [[${citoyen.nom}]]<br/>
    <span th:text="#{prenom}"></span> : [[${citoyen.prenom}]]<br/>
    <span th:text="#{tel}"></span> : [[${citoyen.tel}]]<br/>
    <span th:text="#{gsm}"></span> : [[${citoyen.gsm}]]<br/>
    <span th:text="#{email}"></span> : [[${citoyen.mail}]]<br/>
    <span th:text="#{nat}"></span> : [[${citoyen.nation}]]<br/>
</fieldset>

<fieldset th:fragment="CitoyenPost(fonction,citoyen)">
    <legend th:text="#{voscoordo}"></legend>
    <input th:type="hidden" th:field="*{citoyen.id}" />
    <label th:text="#{nom}"></label>
    <input th:type="text" th:field="*{citoyen.nom}" /><br/>
    <label th:text="#{prenom}"></label>
    <input th:type="text" th:field="*{citoyen.prenom}" /><br/>
    <label th:text="#{dn}"></label>
    <input th:type="text" th:field="*{citoyen.dateNaissance}" /><br/>
    <label th:text="#{tel}"></label>
    <input th:type="text" th:field="*{citoyen.tel}" /><br/>
    <label th:text="#{gsm}"></label>
    <input th:type="text" th:field="*{citoyen.gsm}" /><br/>
    <label th:text="#{email}"></label>
    <input th:type="text" th:field="*{citoyen.mail}" /><br/>
    <label th:text="#{regnat}"></label>
    <input th:type="text" th:field="*{citoyen.nrn}" /><br/>
    <label th:text="#{nat}"></label>
    <input th:type="text" th:field="*{citoyen.nation}" /><br/>
    <input th:type="hidden" th:field="*{citoyen.reside}" />
</fieldset>

<fieldset th:fragment="CitoyenAdrPost(fonction,citoyen,adresse)">
    <legend th:text="#{voscoordo}"></legend>
    <input th:type="hidden" th:field="*{citoyen.id}" />
    <label th:text="#{nom}"></label>
    <input th:type="text" th:field="*{citoyen.nom}" />
    <label th:text="#{prenom}"></label>
    <input th:type="text" th:field="*{citoyen.prenom}" />
    <label th:text="#{dn}"></label>
    <input th:type="text" th:field="*{citoyen.dateNaissance}" />
    <label th:text="#{tel}"></label>
    <input th:type="text" th:field="*{citoyen.tel}" />
    <label th:text="#{gsm}"></label>
    <input th:type="text" th:field="*{citoyen.gsm}" />
    <label th:text="#{email}"></label>
    <input th:type="text" th:field="*{citoyen.mail}" />
    <label th:text="#{regnat}"></label>
    <input th:type="text" th:field="*{citoyen.nrn}" />
    <label th:text="#{nat}"></label>
    <input th:type="text" th:field="*{citoyen.nation}" />
    <input th:type="hidden" th:field="*{citoyen.reside}" />
    <fieldset th:replace="~{/fragments/adresse :: AdressePost('Résidence',${adresse}) }"></fieldset>
</fieldset>

</body>

</html>