<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="CitoyenGet(fonction,citoyen)">
    <legend>[[${fonction}]]</legend>
    <span th:text="#{citoyen.nom}" >Nom</span>:[[${citoyen.nom}]]<br/>
    Prénom:[[${citoyen.prenom}]]<br/>
    Date de naissance:[[${citoyen.dateNaissance}]]<br/>
    Tel:[[${citoyen.tel}]]<br/>
    Gsm:[[${citoyen.gsm}]]<br/>
    Email:[[${citoyen.mail}]]<br/>
    No Reg Nat:[[${citoyen.nrn}]]<br/>
    Nationnalité:[[${citoyen.nation}]]<br/>
</fieldset>

<fieldset th:fragment="CitoyenAdrGet(fonction,citoyen)">
    <legend>[[${fonction}]]</legend>
    <span th:text="#{citoyen.nom}" >Nom</span>:[[${citoyen.nom}]]<br/>
    Prénom:[[${citoyen.prenom}]]<br/>
    Date de naissance:[[${citoyen.dateNaissance}]]<br/>
    Tel:[[${citoyen.tel}]]<br/>
    Gsm:[[${citoyen.gsm}]]<br/>
    Email:[[${citoyen.mail}]]<br/>
    No Reg Nat:[[${citoyen.nrn}]]<br/>
    Nationnalité:[[${citoyen.nation}]]<br/>

    <fieldset th:replace="~{/fragments/adresse :: adresseGet(${'Résidence'},${citoyen.resideAdr}) }"></fieldset>
</fieldset>

<fieldset th:fragment="CitoyenSummaryGet(fonction,citoyen)">
    <legend>[[${fonction}]]</legend>
    <span th:text="#{citoyen.nom}" >Nom</span>:[[${citoyen.nom}]]<br/>
    Prénom:[[${citoyen.prenom}]]<br/>
    Tel:[[${citoyen.tel}]]<br/>
    Gsm:[[${citoyen.gsm}]]<br/>
    Email:[[${citoyen.mail}]]<br/>
    Nationnalité:[[${citoyen.nation}]]<br/>
</fieldset>

<fieldset th:fragment="CitoyenPost(fonction,citoyen)">
    <legend th:text="${fonction}"></legend>
    <input th:type="hidden" th:field="*{citoyen.id}" /><br/>
    Nom:<input th:type="text" th:field="*{citoyen.nom}" /><br/>
    Prénom:<input th:type="text" th:field="*{citoyen.prenom}" /><br/>
    Date de naissance:<input th:type="text" th:field="*{citoyen.dateNaissance}" /><br/>
    Tel:<input th:type="text" th:field="*{citoyen.tel}" /><br/>
    Gsm:<input th:type="text" th:field="*{citoyen.gsm}" /><br/>
    Email:<input th:type="text" th:field="*{citoyen.mail}" /><br/>
    No Reg Nat:<input th:type="text" th:field="*{citoyen.nrn}" /><br/>
    Nationnalité:<input th:type="text" th:field="*{citoyen.nation}" /><br/>
</fieldset>

<fieldset th:fragment="CitoyenAdrPost(fonction,citoyen,adresse)">
    <legend th:text="${fonction}"></legend>
    <input th:type="hidden" th:field="*{citoyen.id}" /><br/>
    Nom:<input th:type="text" th:field="*{citoyen.nom}" /><br/>
    Prénom:<input th:type="text" th:field="*{citoyen.prenom}" /><br/>
    Date de naissance:<input th:type="text" th:field="*{citoyen.dateNaissance}" /><br/>
    Tel:<input th:type="text" th:field="*{citoyen.tel}" /><br/>
    Gsm:<input th:type="text" th:field="*{citoyen.gsm}" /><br/>
    Email:<input th:type="text" th:field="*{citoyen.mail}" /><br/>
    No Reg Nat:<input th:type="text" th:field="*{citoyen.nrn}" /><br/>
    Nationnalité:<input th:type="text" th:field="*{citoyen.nation}" /><br/>
    <fieldset th:replace="~{/fragments/adresse :: AdressePost('Résidence',adresse) }"></fieldset>
</fieldset>

</body>

</html>