<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="CitoyenGet(fonction,citoyen)">
    <legend th:text="#{detailprofile}"></legend>
    <span th:text="#{nom}"></span> : [[*{citoyen.nom}]]<br/>
    <span th:text="#{prenom}"></span> : [[*{citoyen.prenom}]]<br/>
    <span th:text="#{dn}"></span> : <span th:text="${#dates.format(citoyen.dateNaissance, 'dd-MM-yyyy')}" ></span><br/>
    <span th:text="#{tel}"></span> : [[*{citoyen.tel}]]<br/>
    <span th:text="#{gsm}"></span> : [[*{citoyen.gsm}]]<br/>
    <span th:text="#{email}"></span> : [[*{citoyen.mail}]]<br/>
    <span th:text="#{regnat}"></span> : [[*{citoyen.nrn}]]<br/>
    <span th:text="#{nat}"></span> : [[*{citoyen.nation}]]<br/>
</fieldset>

<fieldset th:fragment="CitoyenAdrGet(fonction,citoyen,adresse)">
    <legend th:text="#{detailprofile}"></legend>
    <span th:text="#{nom}"></span> : [[${citoyen.nom}]]<br/>
    <span th:text="#{prenom}"></span> : [[${citoyen.prenom}]]<br/>
    <span th:text="#{dn}"></span> : [[${citoyen.dateNaissance}]]<br/>
    <span th:text="#{tel}"></span> : [[${citoyen.tel}]]<br/>
    <span th:text="#{gsm}"></span> : [[${citoyen.gsm}]]<br/>
    <span th:text="#{email}"></span> : [[${citoyen.mail}]]<br/>
    <span th:text="#{regnat}"></span> : [[${citoyen.nrn}]]<br/>
    <span th:text="#{nat}"></span> : [[${citoyen.nation}]]<br/><br/>

    <fieldset th:replace="~{/fragments/adresse :: AdresseGet('Résidence',${adresse}) }"></fieldset>
</fieldset>

<fieldset th:fragment="CitoyenSummaryGet(fonction,citoyen)">
    <legend th:text="#{detailprofile}"></legend>
    <span th:text="#{nom}"></span> : [[*{citoyen.nom}]]<br/>
    <span th:text="#{prenom}"></span> : [[*{citoyen.prenom}]]<br/>
    <span th:text="#{tel}"></span> : [[*{citoyen.tel}]]<br/>
    <span th:text="#{gsm}"></span> : [[*{citoyen.gsm}]]<br/>
    <span th:text="#{email}"></span> : [[*{citoyen.mail}]]<br/>
    <span th:text="#{nat}"></span> : [[*{citoyen.nation}]]<br/>
</fieldset>

<fieldset th:fragment="CitoyenPost(fonction,citoyen)" th:object="${citoyen}">
    <legend th:text="#{voscoordo}"></legend>
    <input th:type="hidden" th:field="*{id}" />
    <label th:text="#{nom}"></label>
    <input th:type="text" th:field="*{nom}" /><br/>
    <label th:text="#{prenom}"></label>
    <input th:type="text" th:field="*{prenom}" /><br/>
    <label th:text="#{dn}"></label>
    <input th:type="text" th:field="*{dateNaissance}" /><br/>
    <label th:text="#{tel}"></label>
    <input th:type="text" th:field="*{tel}" /><br/>
    <label th:text="#{gsm}"></label>
    <input th:type="text" th:field="*{gsm}" /><br/>
    <label th:text="#{email}"></label>
    <input th:type="text" th:field="*{mail}" /><br/>
    <label th:text="#{regnat}"></label>
    <input th:type="text" th:field="*{nrn}" /><br/>
    <label th:text="#{nat}"></label>
    <input th:type="text" th:field="*{nation}" /><br/>
    <input th:type="hidden" th:field="*{reside}" />
</fieldset>

<fieldset th:fragment="CitoyenAdrPost(fonction,citoyen,adresse)">
    <legend th:text="#{voscoordo}"></legend>
    <input th:type="hidden" th:field="${citoyen.id != null} ? ${citoyen.id} : ' '" />
    <label th:text="#{nom}"></label>
    <input th:type="text" th:field="${citoyen.nom != null} ? ${citoyen.nom} : ' ' "/>
    <label th:text="#{prenom}"></label>
    <input th:type="text" th:field="${citoyen.prenom != null} ? ${citoyen.prenom} : ' ' "/>
    <label th:text="#{dn}"></label>
    <input th:type="text" th:field="${citoyen.dateNaissance != null} ? ${citoyen.dateNaissance} : ' ' "/>
    <label th:text="#{tel}"></label>
    <input th:type="text" th:field="${citoyen.tel != null} ? ${citoyen.tel} : ' ' "/>
    <label th:text="#{gsm}"></label>
    <input th:type="text" th:field="${citoyen.gsm != null} ? ${citoyen.gsm} : ' ' "/>
    <label th:text="#{email}"></label>
    <input th:type="text" th:field="${citoyen.mail != null} ? ${citoyen.mail} : ' ' "/>
    <label th:text="#{regnat}"></label>
    <input th:type="text" th:field="${citoyen.nrn != null} ? ${citoyen.nrn} : ' ' "/>
    <label th:text="#{nat}"></label>
    <input th:type="text" th:field="${citoyen.nation != null} ? ${citoyen.nation} : ' ' "/>
    <input th:type="hidden" th:field="${citoyen.reside != null} ? ${citoyen.reside} : ' ' "/>
    <fieldset th:replace="~{/fragments/adresse :: AdressePost('Résidence',${adresse}) }"></fieldset>
</fieldset>

<fieldset th:fragment="CitoyenAdrPut ( fonction , citoyen , adresse ) " >
    <legend th:text="#{voscoordo}"></legend>
    <label th:text="#{nom}"></label>
    <input th:field="${form.citoyen.nom}" />
    <label th:text="#{prenom}"></label>
    <input th:field="*{citoyen.prenom}" />
    <label th:text="#{dn}"></label>
    <input th:field="*{citoyen.dateNaissance}" />
    <label th:text="#{tel}"></label>
    <input th:field="*{citoyen.tel}" />
    <label th:text="#{gsm}"></label>
    <input th:field="*{citoyen.gsm}" />
    <label th:text="#{email}"></label>
    <input th:field="*{citoyen.mail}" />
    <label th:text="#{regnat}"></label>
    <input th:field="*{citoyen.nrn}" />
    <label th:text="#{nat}"></label>
    <input th:field="*{citoyen.nation}" />
    <fieldset th:replace="~{/fragments/adresse :: AdressePut(${'Résidence'},${adresse}) }"></fieldset>
</fieldset>

</body>

</html>