<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="commanditaireGet(fonction,commanditaire)">
    <legend th:text="${fonction}">Commanditaire</legend>


    <div th:if= "${commanditaire.EntrepriseId} != null">
        <fieldset th:replace="~{/fragments/entreprise :: EntrepriseGetEnt(${'Entreprise'},${commanditaire.Enterprise) }"></fieldset>
    </div>

    <div th:if= "${commanditaire.CitoyenId} != null">
        <fieldset th:replace="~{/fragments/citoyen :: CitoyenGet(${'Citoyen'},${commanditaire.Citoyen}) }"></fieldset>
    </div>

</fieldset>

</body>

</html>