<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="EntrepriseGetEnt(fonction,entreprise)">
    <legend th:text="#{entreprise}"></legend>
    <span th:text="#{numentre}"></span> : <span th:text="*{entreprise.bce}"></span><br/>
    <span th:text="#{denomi}"></span> : <span th:text="*{entreprise.denomination}"></span><br/>
    <span th:text="#{statut}"></span> : <span th:text="*{entreprise.statutLegal}"></span><br/>
</fieldset>

<fieldset th:fragment="EntrepriseGet(fonction,entreprise,adresse,citoyen)">
    <legend th:text="#{entreprise}"></legend>
    <span th:text="#{numentre}"></span> : <span th:text="*{entreprise.bce}"></span><br/>
    <span th:text="#{denomi}"></span> : <span th:text="*{entreprise.denomination}"></span><br/>
    <span th:text="#{statutlegal}"></span> : <span th:text="*{entreprise.statutLegal}"></span><br/>

    <fieldset th:replace="~{/fragments/citoyen :: CitoyenGet('',${}) }"></fieldset>

    <fieldset th:replace="~{/fragments/adresse :: AdresseGet('Résidence',${adresse}) }"></fieldset>

</fieldset>

<fieldset th:fragment="EntreprisPost(fonction,entreprise,adresse,citoyen)">
    <legend th:text="#{entreprise}"></legend>
    <span th:text="#{numentre}"></span> : <span th:text="*{entreprise.bce}"></span><br/>
    <span th:text="#{denomi}"></span> : <span th:text="*{entreprise.denomination}"></span><br/>
    <span th:text="#{statut}"></span> : <span th:text="*{entreprise.statutLegal}"></span><br/>

    <fieldset th:replace="~{/fragments/adresse :: AdressePost('Résidence',${adresse}) }"></fieldset>

</fieldset>

</body>

</html>