<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<fieldset th:fragment="formArray(fonction,name,form)">
    <legend th:text="${fonction}"></legend>
    <button type="submit" th:name="'addRow'+${name}+'Create'">Ajouter</button>
    <ul th:each="item,rowStat : ${form}" th:object="${form}">
        <li>
            <input type="text" th:name="${name}" th:id="${name}+${rowStat.index+1}" th:value="${item}" />
            <button type="submit" th:name="'removeRow'+${name}+'Create'" th:value="${rowStat.index}">Supprimer</button>
        </li>
    </ul>
</fieldset>

<fieldset th:fragment="getArray(fonction,form)">
    <legend th:text="${fonction}"></legend>
    <ul th:each="item : ${form}">
        <li>
            <span th:text="${item}">Item</span>
        </li>
    </ul>
</fieldset>

</body>

</html>