<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<header th:fragment="head">
        <div id="topsection">
            <div class="tps"><img th:src="@{img/logoPortail.png}" alt="Portail des artistes" width="500"/></div>
            <div class="tps"><img th:src="@{img/spfblabla.png}" alt="SPF Blabla" width="220"/></div>
        </div>
</header>


<nav th:fragment="nav1">
    <div id="navsection">
        <div class="element"><a class="whitea" th:href="@{/accueil}">Accueil</a></div>
        <div class="element"><a class="whitea" th:href="@{/login}">Me connecter</a></div>
        <div class="element"><a class="whitea" th:href="@{/home}">EN</a></div>
    </div>
</nav>

<nav th:fragment="nav2">
    <div id="navsection">
        <div class="element"><a class="whitea" th:href="@{accueil}">Accueil</a></div>
        <div class="element"><a class="whitea" th:href="@{home}">EN</a></div>
    </div>
</nav>

<nav th:fragment="nav3">
    <div id="navsection">
        <div class="element"><a class="whitea" th:href="@{/home}">Home</a></div>
        <div class="element"><a class="whitea" th:href="@{/login}">Log in</a></div>
        <div class="element"><a class="whitea" th:href="@{/accueil}">FR</a></div>
    </div>
</nav>

<nav th:fragment="nav4">
    <div id="navsection">
        <div class="element"><a class="whitea" th:href="@{/choixRole}">Accueil</a></div>
        <div class="element"><a class="whitea" th:href="@{/Utilisateur/modif/moi}">Mon profil</a></div>
        <div class="element"><a class="whitea" th:href="@{/accueil}">Déconnexion</a></div>
        <div class="element"><a class="whitea" th:href="@{/home}">EN</a></div>
    </div>
</nav>

<nav th:fragment="nav5">
    <div id="navsection">
        <div class="element"><a class="whitea" th:href="@{/choixRole}">Accueil</a></div>
        <div class="element"><a class="whitea" th:href="@{/accueil}">Déconnexion</a></div>
        <div class="element"><a class="whitea" th:href="@{/home}">EN</a></div>
    </div>
</nav>

</body>

</html>