<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- éléments dans l'entête de la page -->
<head th:fragment="meta">
    <title>Springboot Rest Client</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" th:href="@{/img/favicon.ico}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{/css/mainCSS.css}" rel="stylesheet" />
</head>


<!-- éléments de la barre d'en-tête -->
<header th:fragment="head">
        <div id="topsection">
            <div class="tps"><img th:src="@{/img/logoPortail.png}" alt="Portail des artistes" width="500"/></div>
            <div class="tps"><img th:src="@{/img/spfblabla.png}" alt="SPF Blabla" width="220"/></div>
        </div>
</header>


<!-- éléments de la barre de navigation
000000000001 1    Accueil
000000000010 2    Menu
000000000100 4    Mon profil
000000001000 8    Langue
000000010000 16   S'inscrire
000000100000 32   Se connecter
000001000000 64   Artiste
000010000000 128  Commanditaire
000100000000 256  Gestionnaire
001000000000 512
010000000000 1024
100000000000 2048
-->
<nav th:fragment="nav (select)">
    <div id="navsection">
        <div class=navtext th:remove="${select%2!=1}? all : none"><a class="whitea" th:href="@{accueil}" th:text="#{accueil}"></a></div>
        <div class=navtext th:remove="${(select/2)%2!=1}? all : none"><a class="whitea" th:href="@{/choixRole}">Menu</a></div>
        <div class=navtext th:remove="${(select/16)%2!=1}? all : none"><a class="whitea" th:href="@{/inscript}" th:text="#{register}"></a></div>
        <div class=navtext th:remove="${(select/32)%2!=1}? all : none"><a class="whitea" th:href="@{/login}" th:text="#{connecter}"></a></div>

        <div class=menu th:remove="${(select/64)%2!=1}? all : none"><a class="whitea" th:href="@{/artiste}" th:text="#{artiste}"></a> &#9660;
            <div class=ssmenu><a th:href="@{/Prestation}" class="whitea">Prestations</a></div>
            <div class=ssmenu><a th:href="@{/Formulaire/creer/carte}" class="whitea" th:text="#{carte}"></a></div>
            <div class=ssmenu><a th:href="@{/Formulaire/creer/visa}" class="whitea" th:text="#{visa}"></a></div>
        </div>

<!--        <div class=navtext th:remove="${(select/128)%2!=1}? all : none"><a class="whitea" th:text="#{commanditaire}"></a></div>
-->
        <div class=menu th:remove="${(select/256)%2!=1}? all : none"><a class="whitea" th:href="@{/Traitement}" th:text="#{gestionnaire}"></a> &#9660;
            <div th:if="${GestPers}" class=ssmenu><a th:href="@{/Utilisateur/}" class="whitea"  th:text="#{utilisateurs}"></a></div>
            <div th:if="${GestFormFR}" class=ssmenu><a th:href="@{/Traitement/form/lang/FR}" class="whitea"  th:text="#{formulaires.fr}"></a></div>
            <div th:if="${GestFormEN}" class=ssmenu><a th:href="@{/Traitement/form/lang/EN}" class="whitea"  th:text="#{formulaires.en}"></a></div>
            <div th:if="${GestPrest}" class=ssmenu><a th:href="@{/Traitement/prest}" class="whitea"  th:text="#{prestations}"></a></div>
            <div class=ssmenu><a th:href="@{/Prestation/}" class="whitea"  th:text="#{prestations}"></a></div>
        </div>

        <div class=menu th:remove="${(select/4)%2!=1}? all : none"><span th:text="#{monprofil}"></span> &#9660;
            <div class=ssmenu><a th:href="@{/Utilisateur/modif/moi}" class="whitea"  th:text="#{infopers}"></a></div>
            <div class=ssmenu><a th:href="@{/logout2}" class="whitea" th:text="#{deconnexion}"></a></div>
        </div>

        <div class=menu th:remove="${(select/8)%2!=1}? all : none"><span th:text="#{language}"></span> &#9660;
            <div class=ssmenu><button class="navbouton" onclick="changeLangue('fr')" th:text="#{lang.fr}"></button></div>
            <div class=ssmenu><button class="navbouton" onclick="changeLangue('en')" th:text="#{lang.eng}"></button></div>
        </div>
    </div>
</nav>

<div th:fragment="erreurs">

    <div th:id="msgerr" th:if="(${Err} != null or ${Msg} != null) and (${Err} != '' or ${Msg} != '')">
        <div class="Msg">[[${Msg}]]</div>
        <div class="Err">[[${Err}]]</div>
    </div>
</div>

<script type="text/javascript" th:fragment="multiscript">
    function changeLangue(valeur){
        window.location.replace(window.location.pathname + '?lang=' + valeur);
    }
</script>

</body>

</html>