<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<div th:replace="~{/fragments/header :: erreurs}"></div>

<form class="formbox90pc" th:action="@{/Formulaire}" th:name="form" th:object="${form}" th:method="post">
    <input type="hidden" th:field="*{id}" />

    <div th:replace="~{/fragments/form :: formArray('Cursus Académique','cursusAc',${form.cursusAc})}"></div>
    <div th:replace="~{/fragments/form :: formArray('Expérience professionnelle','expPro',${form.expPro})}"></div>
    <div th:replace="~{/fragments/form :: formArray('Autres ressources','ressources',${form.ressources})}"></div>

    Langue<select name="langue" id="langue">
    <option value="FR">FR</option>
    <option value="EN">EN</option>
</select><br/>
    Carte<input type="checkbox" th:field="*{carte}" value="1" /><br/>
    Visa<input type="checkbox" th:field="*{visa}" value="1" /><br/>

    <fieldset th:replace="~{/fragments/activites :: activiteFormBySecteur(${form},${secteurs}) }"></fieldset>

    <input th:type="submit" />
</form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>