<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>

<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<fieldset class="formbox800">
<legend>Formulaire</legend>
    <span th:text="#{citoyen.nom}" >
    Date Demande:</span>:[[${form.dateDemande}]]<br/>

    <!-- Cursus : cursurAc -->
    <div th:if="${! #lists.isEmpty(form.cursusAc)}">
        <h1>Cursus académique</h1>
        <ul th:each="item : ${form.cursusAc}">
            <li th:text="*{item}"></li>
        </ul>
    </div>

    <!-- Experience Professionnelle : expPro -->
    <div th:if="${! #lists.isEmpty(form.expPro)}">
        <h1>Experience professionnelle</h1>
        <ul th:each="item : ${form.expPro}">
            <li th:text="*{item}"></li>
        </ul>
    </div>

    <!-- ressources -->
    <div th:if="${! #lists.isEmpty(form.ressources)}">
        <h1>Autres ressources</h1>
        <ul th:each="item : ${form.ressources}">
            <li th:text="*{item}"></li>
        </ul>
    </div>

    Langue :[[${form.langue}]]<br/>
    Carte :[[${form.carte}]]<br/>
    Visa :[[${form.visa}]]<br/>

    <fieldset th:replace="~{/fragments/activites :: activiteFormBySecteur(${form},${secteurs}) }"></fieldset>
    <fieldset th:replace="~{/fragments/form :: activiteShowBySecteur(${form},${secteurs}) }"></fieldset>

</fieldset>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>