<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<div th:replace="~{/fragments/header :: erreurs}"></div>

<div class="formbox800">

    <fieldset class="formbox800" th:replace="~{/fragments/form :: getForm(${form},${form.secteurActivites},${citoyen}) }"></fieldset>

</div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>