<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>

<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<H1>Formulaires</H1>
<table>
    <tr><th>Date Demande</th><th>Langue</th><th>Carte</th><th>Visa</th><th>Actions</th></tr>
    <tr th:each="frm : ${form}">
        <td>[[${frm.dateDemande}]]</td>
        <td>[[${frm.langue}]]</td>
        <td>[[${frm.carte}]]</td>
        <td>[[${frm.visa}]]</td>
        <td id="boutonsFlex">
            <p class="customButton"><a class="whitea" th:href="@{/Formulaire/{id}(id=${frm.id})}">Détail</a></p>
            <p class="customButton"><a class="whitea" th:href="@{/Formulaire/modif/{id}(id=${frm.id})}">Modifier</a></p>
            <p class="customButton"><a class="whitea" th:href="@{/Formulaire/suppr/{id}(id=${frm.id})}">Supprimer</a></p>
        </td>
    </tr>
</table>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>