<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<div class="Msg">[[${Msg}]]</div>
<div class="Err">[[${Err}]]</div>
<form class="formbox800" th:action="@{/Formulaire}" th:name="form" th:object="${form}" th:method="post">
    <input type="hidden" th:field="id" />
    Cursus Académique:<input type="text" th:field="*{cursusAc}" /><br/>
    Expérience professionnelle:<input type="text" th:field="*{expPro}" /><br/>
    Autres ressources:<input type="text" th:field="*{ressources}" /><br/>
    Langue<select name="langue" id="langue">
    <option value="FR">FR</option>
    <option value="EN">EN</option>
</select><br/>
    Carte<input type="checkbox" th:field="*{carte}" value="1" /><br/>
    Visa<input type="checkbox" th:field="*{visa}" value="1" /><br/>

    <fieldset th:replace="~{/fragments/activites :: activiteFormBySecteur(form) }"></fieldset>

    <input th:type="submit" />
</form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>