<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<div class="Msg">[[${Msg}]]</div>
<div class="Err">[[${Err}]]</div>
<form class="formbox800" th:action="@{/Traitement}" th:name="docArt" th:object="${docArt}" th:method="put">
    <input type="hidden" name="typeTrt" value="prest" />

    <fieldset class="formbox800" th:replace="~{/fragments/prest :: getListPrest(${docArt},${secteurs},${citoyen}) }"></fieldset>
    <fieldset class="formbox800" th:replace="~{/fragments/prest :: validListPrest(${docArt},${secteurs},${citoyen}) }"></fieldset>

    Appréciation<textarea field="${trt.appreciation}" rows="10" cols="100"></textarea><br/>
    <input th:type="submit" name="ComplInfo" value="Demande complément d'information" />
    <input th:type="submit" name="Comm" value="Enregistrer commentaire" />
    <input th:type="submit" name="Deci" value="Valider les prestations" />
</form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>