body{
    background-image: url("../img/magritte.jpg");
    background-size:100%;
    background-color: rgb(235,241,222);
}

h1{
    font-family:  Arial,"Arial Black", Impact,sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 50px;
}

h2{
    font-family: Arial,"Arial Black", Impact,sans-serif;
    color: black;
    margin-left: 40px;
    font-size: 25px;
}


#topsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}


#navsection
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height:35px;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial,"Arial Black", Impact,sans-serif;
    color: white;
    background-color: teal;
    border-radius: 3px;

}

.navtext{
    height: 25px;
    width:140px;
    border: 3px solid ;
    border-left-color: grey;
    border-bottom-color: teal;
    border-top-color: teal;
    border-right-color: teal;
    text-align: center;
    padding-top: 5px;
}

.navbouton{
    color: white;
    background-color: teal;
    border: none;
}
.navbouton:hover{
    text-decoration: underline;
    color: white;
}

.menu{
    height: 25px;
    width:150px;
    border: 3px solid ;
    border-left-color: grey;
    border-bottom-color: teal;
    border-top-color: teal;
    border-right-color: teal;
    text-align: center;
    padding-top: 5px;
}

.menu:hover {
    height: 150px;
    background-color: teal;
}

.ssmenu{
    display:none;
    margin-top:  12px;
    padding-left: 15px;
    text-align: left;
}

.menu:hover .ssmenu{display:block;}

a:link, a:visited{
    text-decoration: none;
}
.whitea, .whitea:visited{
    color: white;
}
.whitea:hover{
    text-decoration: underline;
    color: white;
}

.bluea, .bluea:visited{
    color: navy;
}

.bluea:hover{
    text-decoration: underline;
    color: navy;
}

.blacka, .blacka:visited{
    color: black;
}
.blacka:hover{
    text-decoration: underline;
    color: black;
}


.formbox90pc, .formbox400, .formbox600, .formbox800{
    margin-top: 50px;
    color: Black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    opacity: 0.85;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px #555;


}

.formbox90pc {max-width: 90%;}

.formbox400 {max-width: 400px;}

.formbox600{max-width: 600px;}

.formbox800{max-width: 800px;}

#introbox
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    font-family: "Arial Black",Arial,  Impact,sans-serif;
    font-size: 18px;
    text-align: justify;

}

.introtxt
{
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 22px;
    width: 350px;
//    height:200px;
    -moz-border-radius:20px 20px;
    -webkit-border-radius:20px 20px;
    border-radius:20px 20px;
    box-shadow: 0px 0px 15px #555;

}

.introtxt:nth-child(1)
{
    color: white;
    border:3px solid rgb(95,48,60);
    background-color: rgb(141,71,88);
}

.introtxt:nth-child(2)
{
    color: rgb(61,63,36);
    border:3px solid rgb(19,79,132);
    background-color: rgb(36,134,223);
}

.introtxt:nth-child(3)
{
    color: rgb(0, 0, 160);
    border:3px solid rgb(13,102,27);
    background-color: rgb(24,197,50);
}

#boutonsFlex
{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.btFlex
{
    padding-right: 20px;
}


#choixbox
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: "Arial Black",Arial,  Impact,sans-serif;
    font-size: 18px;
    text-align: justify;

}

.choixtxt
{
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 22px;
    width: 350px;
//    height:50px;
    -moz-border-radius:20px 20px;
    -webkit-border-radius:20px 20px;
    border-radius:20px 20px;
    box-shadow: 0px 0px 15px #555;

}

.choixtxt:nth-child(1)
{
    margin-left: 50px;
    color: white;
    border:3px solid rgb(95,48,60);
    background-color: rgb(141,71,88);
}

.choixtxt:nth-child(1) a
{
    color: white;
}


.choixtxt:nth-child(2)
{
    margin-left: 50px;
    color: rgb(61,63,36);
    border:3px solid rgb(19,79,132);
    background-color: rgb(36,134,223);
    align-self: center;
}

.choixtxt:nth-child(2) a
{
    color: rgb(61,63,36);
}

.choixtxt:nth-child(3)
{
    margin-left: 50px;
    color: rgb(0,0,160);
    border:3px solid rgb(13,102,27);
    background-color: rgb(24,197,50);
}

.choixtxt:nth-child(3) a
{
    color: rgb(0,0,160);
}

fieldset {
    padding-bottom: 15px;
}

input{
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

input[class=demibox] {
    width: 50%;
}

label{
    display: block;
}

input[type=text],input[type=password] {
    padding:5px;
    border:2px solid #ccc;
    border-radius: 3px;

}

input[type=text]:focus,input[type=password]:focus  {
    border:1px solid #66AFDF;
    box-shadow: 0px 0px 10px -2px #66AFDF;
}

input[type=submit] {
    padding:5px 15px;
    background:#AC0E35;
    color:white;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.customButton{
    padding: 5px 15px;
    text-align: center;
    background-color: #014B96;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button{
    color: white;
    background-color: #014B96;
    border: none;
}