<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>

<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<span th:text="#{username}" ></span> : [[${form.username}]]<br/>
<span th:text="#{password}" ></span> : [[${form.password}]]<br/>
<fieldset>
<legend>Prestation</legend>
    <span th:text="#{citoyen.nom}" >
    <span th:text="#{dateprest}"></span> : </span> : [[${form.prestation.datePrest}]]<br/>
    <span th:text="#{duree}"></span> : </span> : [[${form.prestation.duree}]]<br/>
    <span th:text="#{montant}"></span> : </span> : [[${form.prestation.montant}]]<br/>
    <span th:text="#{statut}"></span> : </span> : [[${form.prestation.etat}]]<br/>

    <span th:text="#{commanditaire}"></span> : </span>:[[${form.prestation.commanditaire}]]<br/>
    <span th:text="#{docartiste}"></span> : </span> : </span>:[[${form.prestation.docArtiste}]]<br/>

    <!-- Experience Professionnelle : expPro -->
    <div th:if="${form.formulaire.expPro.list != null}">
        <h1 th:text="#{experiencepro}">Experience professionnelle</h1>
        <ul>
            <th:block th:object="${form.formulaire.expPro}">
                <li th:each="item : *{list}" th:text="${item}"></li>
            </th:block>
        </ul>
    </div>

    <!-- ressources -->
    <div th:if="${form.formulaire.ressources.list != null}">
        <h1>Autres ressources</h1>
        <ul>
            <th:block th:object="${form.formulaire.ressources}">
                <li th:each="item : *{list}" th:text="${item}"></li>
            </th:block>
        </ul>
    </div>

    <span th:text="#{langue}"></span> : [[${form.formulaire.lanque}]]<br/>
    <span th:text="#{carte}"></span> : [[${form.formulaire.carte}]]<br/>
    Visa :[[${form.formulaire.visa}]]<br/>

</fieldset>

    <div th:replace="~{/fragments/header :: multiscript}"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>