<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>

<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<div class="formbox90pc">
<table border="1">
    <caption><H1>Liste des prestations</H1></caption>
    <thead class=".table-header">
        <tr>
            <th>Date         </th>
            <th>Durée        </th>
            <th>Montant      </th>
            <th>Statut       </th>
            <th>Etat         </th>
            <th>Actions      </th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="prest : ${form}" class="" >
        <td th:datetime="${prest.dateprest}" th:alt="${prest.dateprest}"></td>
        <td th:text="${prest.duree}" th:alt="${prest.duree}"></td>
        <td th:text="${#numbers.formatDecimal(prest.montant, 0, 'COMMA', 2, 'POINT')}" th:alt="${prest.montant}"></td>
        <td th:text="${prest.etat}" th:alt="${prest.etat}"></td>
        <td> secteur</td>
        <td id="boutonsFlex">
            <p class="customButton"><a class="whitea"  th:href="@{/Prestation/{id}(id=${prest.id})}">Détail</a></p>
            <p class="customButton"><a class="whitea"  th:href="@{/Prestation/modif/{id}(id=${prest.id})}">Modifier</a></p>
            <p class="customButton"><a class="whitea"  th:href="@{/Prestation/suppr/{id}(id=${prest.id})}">Supprimer</a></p>
        </td>
    </tr>
    <tr>
        <td colspan="6"><p class="customButton"><a class="whitea"  th:href="@{/Prestation/creer}">Nouveau</a></p></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>