<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>

<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${10})}"></div>

<div class="formbox90pc">
<table class=".table-cellule">
    <caption><H1 th:text="#{listepresta}"></H1></caption>
    <tbody>
        <tr>
            <th>Date</th>
            <th th:text="#{duree}"></th>
            <th th:text="#{montant}"></th>
            <th th:text="#{statut}"></th>
            <th th:text="#{adresse}"></th>
            <th th:text="#{activite}"></th>
            <th>Document</th>
            <th th:text="#{detail}"></th>
            <th></th>
        </tr>

    <tr th:each="prest : ${form}" class="" >

        <td th:text="${#dates.format(prest.datePrest, 'dd-MM-yyyy')}" th:alt="${prest.datePrest}"></td>
        <td th:text="${prest.duree}" th:alt="${prest.duree}"></td>
        <td th:text="${#numbers.formatDecimal(prest.montant, 0, 'COMMA', 2, 'POINT')}" th:alt="${prest.montant}"></td>
        <td th:text="${prest.etat}" th:alt="${prest.etat}"></td>

        <td><fieldset th:if="${prest.seDerouleId}" th:replace="~{/fragments/adresse :: AdresseGet('',${prest.seDeroule}) }"></fieldset></td>
        <td><fieldset th:if="${prest.ActiviteId}" th:replace="~{/fragments/activites :: activiteGet('',${prest.Activite}) }"></fieldset></td>
        <td><fieldset th:if="${prest.DocArtisteId}" th:replace="~{/fragments/docArtiste :: docArtisteGet('',${prest.DocArtiste},false) }"></fieldset></td>
        <td><fieldset th:if="${prest.CommanditaireId}" th:replace="~{/fragments/commanditaire :: commanditaireGet(#{commanditaire},${prest.Commanditaire}) }"></fieldset></td>


        <td id="boutonsList">
            <a th:href="@{/Prestation/{id}(id=${prest.id})}"><img th:src="@{/img/bt_detail.png}" th:alt="#{detail}" th:title="#{detail}"  /></a>
            <a th:href="@{/Prestation/modif/{id}(id=${prest.id})}"><img th:src="@{/img/bt_modif.png}" th:alt="#{modifier}" th:title="#{modifier}"  /></a>
            <a th:href="@{/Prestation/suppr/{id}(id=${prest.id})}"><img th:src="@{/img/bt_del.png}" th:alt="#{supprimer}" th:title="#{supprimer}"  /></a>
        </td>
    </tr>
    <tr>
        <td colspan="6"><p class="customButton"><a class="whitea"  th:href="@{/Prestation/creer}" th:text="#{nouveau}"></a></p></td>
    </tr>
    </tbody>
</table>
</div>
<div th:replace="~{/fragments/header :: multiscript}"></div>

</body>
</html>