<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${2})}"></div>

<div th:replace="~{/fragments/header :: erreurs}"></div>

<form class="formbox800" th:action="@{/prestation}" th:name="form" th:object="${form}" th:method="put">

    <table>
        <caption ><H1>Nouvelle prestation</H1></caption>
        <thead class=".table-header">
        </thead>
        <tr>
            <td>Date prestation : </td>
            <td><input type="date" th:value="${form.datePrest}"/></td>
        </tr>
        <tr>
            <td>Durée(heure) : </td>
            <td><input type="text" th:value="${form.duree}" /></td>
        </tr>
        <tr>
            <td>Montant(€): </td>
            <td><input type="text" th:value="${#numbers.formatDecimal(form.montant, 4, 0)}" /></td>
        </tr>
        <tr>
            <td>Etat : </td>
            <td><input type="text" name="etat" id="etat" th:value="${form.etat}"></td>
        </tr>

        <tr>
        <td><fieldset th:replace="~{/fragments/adresse :: AdressePut('Adresse de la prestation', ${form.seDeroule}) }"></fieldset></td>
        </tr>

        <tr>
            <td><fieldset th:replace="~{/fragments/activites :: activiteFormBySecteur(${form},${form.secteurActivites})}"></fieldset></td>
        </tr>

        <tr>
            <td><fieldset th:replace="~{/fragments/commanditaire :: commanditairePut( 'Coordonnée du commanditaire', ${form.commanditaire} ) }"></fieldset></td>
        </tr>

        <tr>
            <td><fieldset th:replace="~{/fragments/docartiste :: docArtistePut( 'Document artiste', ${form.docArtiste}, true , 'formulaireDTO') }"></fieldset></td>
        </tr>


    </table>

    <input th:type="submit" name="submit" />

</form>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>