<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{/fragments/header :: meta}"></head>
<body>
<div th:replace="~{/fragments/header :: head}"></div>
<div th:replace="~{/fragments/header :: nav(select=${2})}"></div>

<div th:replace="~{/fragments/header :: erreurs}"></div>
<div class="formbox90pc">
<form  th:action="@{/Prestation}" th:name="form" th:object="${form}" th:method="put">

    <table>
        <caption ><H1 th:text="#{nouvprest}"></H1></caption>
        <thead class=".table-header"></thead>

        <tr>
            <td>
            <table>
                <tr>
                    <td><span th:text="#{dateprest}"></span> : </td>
                    <td><input type="text" th:field="*{{datePrest}}"/></td>
                </tr>
                <tr>
                    <td><span th:text="#{dureeh}"></span> : </td>
                    <td><input type="text" th:field="*{duree}" /></td>
                </tr>
                <tr>
                    <td><span th:text="#{montanteuro}"></span> : </td>
                    <td><input type="text" th:name="*{montant}"  th:value="*{#numbers.formatDecimal(montant, 4, 0)}" /></td>
                </tr>
                <tr>
                    <td>Etat : </td>
                    <td><input type="hidden" th:field="*{etat}"></td>
                </tr>
            </table>
            </td>
            <td><fieldset th:replace="~{/fragments/adresse :: AdressePut('Adresse de la prestation', ${form.SeDeroule}) }"></fieldset></td>
        </tr>

        <tr>
            <td colspan="2"><fieldset th:replace="~{/fragments/activites :: activiteFormBySecteur2(${form},${form.secteurActivites})}"></fieldset></td>
        </tr>

        <tr>
            <td><fieldset th:replace="~{/fragments/commanditaire :: commanditairePut( 'Coordonnée du commanditaire', ${form.Commanditaire} ) }"></fieldset></td>
            <td><fieldset th:replace="~{/fragments/docartiste :: docArtistePut( 'Document artiste', ${form.DocArtiste}, false, null) }"></fieldset></td>
        </tr>

    </table>

    <input th:type="submit" name="submit" />

</form>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>